# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Models / cache
.cache/
models/

# OS
.DS_Store
Thumbs.db

# ngrok
.ngrok2/

# Python build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/